<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="logs\nlog-web.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="Argento.ReportingService" />
  </extensions>

  <targets>
      <target xsi:type="File" name="web" fileName="${basedir}/logs/nlog/Argento.ReportingService-web-${shortdate}.log" layout="${longdate}|${activityId}|${uppercase:${level}} ${message}"
              archiveFileName="${basedir}/archives/Argento.ReportingService-web.{#####}.txt" archiveAboveSize="5242880" archiveNumbering="Sequence" concurrentWrites="true" />

      <target xsi:type="File" name="db" fileName="${basedir}/logs/nlog/Argento.ReportingService-db-${shortdate}.log" layout="${longdate}|${activityId}|${uppercase:${level}} ${message}"
              archiveFileName="${basedir}/archives/Argento.ReportingService-db.{#####}.txt" archiveAboveSize="5242880" archiveNumbering="Sequence" concurrentWrites="true" />

      <target xsi:type="File" name="error" fileName="${basedir}/logs/nlog/Argento.ReportingService-error-${shortdate}.log" layout="${longdate}|${activityId}|${uppercase:${level}} ${message}"
              archiveFileName="${basedir}/archives/Argento.ReportingService-error.{#####}.txt" archiveAboveSize="5242880" archiveNumbering="Sequence" concurrentWrites="true" />

  </targets>

  <rules>
    <!-- when deploy, can comment this line to disable huge log data -->
    <!--<logger name="*" minlevel="Info" writeTo="info" />-->
    <logger name="Argento.ReportingService.Utility.ArcadiaConstants.LoggerNames.Web" minlevel="Info" writeTo="web" />
    <logger name="Argento.ReportingService.Utility.ArcadiaConstants.LoggerNames.Database" minlevel="Debug" writeTo="db" />
    <logger name="Argento.ReportingService.Utility.ArcadiaConstants.LoggerNames.Error" minlevel="Error" writeTo="error" />
  </rules>
</nlog>